<form [formGroup]="RegisterationForm" (ngSubmit)="onSubmit(RegisterationForm)" class="container col-md-3">
  <br>
  
  <h3 class="text-blue text-center">Registeration Form</h3>  <br>
  <label class="form-label" for="name">Full Name:</label>
    <input class="form-control" id="name" type="text" placeholder="Enter your full name" formControlName="name" required>
    <div *ngIf="!RegisterationForm.get('name')?.valid && RegisterationForm.get('name')?.touched && RegisterationForm.get('name')?.errors" style="color:red">Please
        Enter Name</div><br>

    <label class="form-label" for="email">Email ID:</label>
    <input class="form-control" id="email" type="email" placeholder="Enter your Email ID" formControlName="email" required>
    <div *ngIf="!RegisterationForm.get('email')?.valid && RegisterationForm.get('email')?.touched && RegisterationForm.get('email')?.errors"
        style="color:red;">Please Enter Correct Email</div><br>

    <label class="form-label" for="password">Password:</label>
    <input class="form-control" id="password" type="password" placeholder="Enter your Password" formControlName="password" required>
    <div *ngIf="!RegisterationForm.get('password')?.valid && RegisterationForm.get('password')?.touched && RegisterationForm.get('password')?.errors"
        style="color:red;">Please Enter Valid Password:
      <br>
        The Valid Password Should Consist of:
       <br>
      <ul>
        <li>Minimum 1 uppercase letter</li>
        <li>Minimum 1 lowercase letter</li>
        <li>Minimum 1 special character</li>
        <li>Minimum 1 Numeric Value</li>
        <li>Minimum length should be 8 characters</li>
        <li>Maximum length should be 30 characters</li>
      </ul>
    </div>
    <br>

    <label class="form-label" for="phoneNumber">Mobile Number:</label>
    <input class="form-control" id="phoneNumber" type="text" placeholder="Enter your Mobile Number" formControlName="phoneNumber" required>
    <div *ngIf="!RegisterationForm.get('phoneNumber')?.valid && RegisterationForm.get('phoneNumber')?.touched && RegisterationForm.get('phoneNumber')?.errors " style="color:red;">Please
        Enter Valid Mobile Number
    </div>
    <br>

    <div formArrayName="address">

      <h5>Address</h5>
      <button (click)="addAddress()" class="btn btn-dark" type="button">Add</button> &nbsp;
      <button (click)="removeAddress()" class="btn btn-light" type="button">Remove</button><br>
      <br>
      <div *ngFor="let address of RegisterationForm.get('address')?.value; let i=index; trackBy:trackFunction">

          <div [formGroupName]="i">
              
              <label class="form-label" for="street">Street:</label>
              <input class="form-control" id="street" type="text" placeholder="Street Address" formControlName="street"><br>
              <label class="form-label" for="city">City:</label>
              <input class="form-control" id="city" type="text" placeholder="City" formControlName="city"><br>
              <label class="form-label" for="state">State:</label>
              <input class="form-control" id="state" type="text" placeholder="State" formControlName="state"><br>
              <label class="form-label" for="country">Country:</label>
              <input class="form-control" id="country" type="text" placeholder="Country" formControlName="country"><br>
              <br>
              <br>
          </div>

      </div>
  </div>

  <div formArrayName="skills">

    <h5>Skills</h5>
    <button (click)="addSkills()" class="btn btn-dark" type="button">Add</button> &nbsp;
    <button (click)="removeSkills()" class="btn btn-light" type="button">Remove</button><br>
    <br>
    <div *ngFor="let skills of RegisterationForm.get('skills')?.value; let i=index; trackBy:trackFunctionSkills">
        <div [formGroupName]="i">
            <label class="form-label" for="certificate">Certification Done:</label>
            <input class="form-control" id="certificate" type="text" placeholder="Certification Done" formControlName="certificate"><br>
            <label class="form-label" for="organization">Organization:</label>
            <input class="form-control" id="organization" type="text" placeholder="Organization" formControlName="organization"><br>
            <br>
            <br>
        </div>

    </div>
</div>

    

   

    <button class="btn btn-dark mt-6" type="submit">Submit</button>
    <br>
    <br>
<br>
<br>
    <div *ngIf="Submit">
      <h4>Output Data</h4>
        <p>Name : {{info.name}}</p>
        <p>Email ID : {{info.email}}</p>
        <p>Password: {{info.password}}</p>
        <p>Mobile Number : {{info.phoneNumber}}</p>
        

        <div *ngFor="let address of info.address; let i=index">
          <h5>Address {{i+1}}:</h5>
          <p>Street : {{address.street}}</p>
          <p>City : {{address.city}}</p>
          <p>State: {{address.state}}</p>
          <p>Country : {{address.country}}</p>
        </div>

        <div *ngFor="let skilll of info.skills; let i=index">
          <h5>Skills {{i+1}}:</h5>
          <p>Certification Done : {{skilll.certificate}}</p>
          <p>Organization: {{skilll.organization}}</p>
        </div>
    </div>
</form>